.posters {
  width: 100%;
  height: 50rem;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.netflix_originals {
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 3rem;
  margin-left: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.netflix_originals:hover {
  overflow-x: auto;
  overflow-y: hidden;
}

.poster {
  width: 10%;
  height: 100%;
}

.trending_now {
  margin-top: 1rem;
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.trending_now:hover {
  overflow-x: auto;
  overflow-y: hidden;
}

.poster:hover {
  transform: scale(1.2);
  cursor: pointer;
}
